/* You can add global styles to this file, and also import other style files */
:root {
  --dark-bg: rgba(15, 15, 15, 0.95);
  --spacing: 350px;

  font-family: brandon-grotesque, sans-serif;
  font-weight: 400;
  font-style: normal;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
}

.canvasContainer {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
